@page "{id:Guid}"
@model ShipManagementGUI.Pages.Ships.EditModel
@{
    var message = ViewData["Message"]?.ToString();
}

<form method="post">
    <h3>Edit Ship</h3>

    @if(!string.IsNullOrEmpty(message))
    {
        <div class="alert" role="alert">
            @message
        </div>
    }

    <div class="form-group">
        <label asp-for="shipViewModel.Name"></label>
        <input asp-for="shipViewModel.Name" class="form-control" />
        <span asp-validation-for="shipViewModel.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="shipViewModel.Code"></label>
        <input asp-for="shipViewModel.Code" class="form-control" placeholder="AAAA-1111-A1" />
        <span asp-validation-for="shipViewModel.Code" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="shipViewModel.Length"></label>
        <input asp-for="shipViewModel.Length" class="form-control" type="number" />
        <span asp-validation-for="shipViewModel.Length" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="shipViewModel.Width"></label>
        <input asp-for="shipViewModel.Width" class="form-control" type="number" />
        <span asp-validation-for="shipViewModel.Width" class="text-danger"></span>
    </div>

     <div class="form-group">
        <input asp-for="shipViewModel.Id" class="form-control" hidden/>
    </div>

    <br />
    <button type="submit" class="btn btn-primary" asp-page-handler="Update">Update</button>
    <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Delete</button>
</form>
